<!doctype html>
<html>
  <head>
    <title>MyApp</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <script type='text/javascript' src='/assets/application.js'></script>
    <link rel='stylesheet' href='/assets/application.css' />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
